<launch>
    <arg name="port" default="/dev/ttyACM0" />
    <arg name="rviz" default="true"/>
    <arg name="rvizconfig" default="$(find utn_imu_odom_fusion)/rviz/config.rviz" />

    <!-- Static transform /map -> /odom -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="static_imu_tf" args="0 0 0 0 0 0 1 map base_imu_link 100" /> -->
    <node name="imu_tf" pkg="utn_imu_odom_fusion" type="imu_tf" required="true"/>

    <!-- Odometry node -->
    <node name="odometry" pkg="robot_control" type="odometry.py" required="true"/>

    <!-- Run rosserial node (UPLOAD THE PROGRAM TO YOUR ARDUINO-BASED ROBOT FIRST!) -->
    <include file="$(find robot_control)/launch/serial_node.launch">
      <arg name="port" value="$(arg port)"/>
    </include>

    <!-- rosabridge server : IMU proxy -->
    <!-- TODO: remap using parameter? -->
    <node pkg="rosabridge_server" type="imu_proxy_node" name="imu_proxy_node" output="screen">
        <param name="imu_frame" value="imu_link" />
        <remap from="imu/data" to="imu_data"/>
    </node>

    <!-- Fuse sensor sources -->
    <!-- http://wiki.ros.org/robot_pose_ekf -->
    <!-- <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
        <rosparam command="load" file="$(arg utn_imu_odom_fusion)/config/robot_pose_ekf.yaml"/>
    </node> -->
    <!-- http://wiki.ros.org/robot_localization -->
    <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(arg utn_imu_odom_fusion)/config/robot_localization_ekf.yaml"/>
    </node> -->

    <!-- Show in Rviz -->
    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="false"/>

        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find my_robot_description)/urdf/my_robot.xacro"/>
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    </group>
</launch>
