<launch>

    <arg name="port" default="/dev/ttyACM0" />
    <arg name="baud" default="57600" />
    <arg name="rviz" default="false"/>

    <include file="$(find robot_control)/launch/arduino_robot.launch">
        <arg name="port" value="$(arg port)"/>
        <arg name="baud" value="$(arg baud)"/>
        <arg name="rviz" value="$(arg rviz)"/>
    </include>

    <!-- Execute controller node -->
    <node pkg="robot_control" type="robot.py" name="robot_control_node" output="screen" required="true" />

</launch>
