<launch>
    <arg name="port" default="/dev/ttyACM0" />
    <arg name="baud" default="115200" />

    <!-- Run rosserial node (UPLOAD THE PROGRAM TO YOUR ARDUINO-BASED ROBOT FIRST!) -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" args="_port:=$(arg port) baud:=$(arg baud)"/>

</launch>
